name: merged to main

on:
  pull_request:
    types: [closed]

jobs:
  history:
    if: ${{ github.event.pull_request.merged && github.ref == 'main' }}
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 5

      - name: show github
        run: echo "${CONTEXT}"
        env:
          CONTEXT: ${{ toJson(github) }}

      - name: Show status
        run: git status

      - name: Show history
        run: git log --format="%h %s" -n 5 | tee -a history.md

      - name: commit and push
        uses: stefanzweifel/git-auto-commit-action@v4.4.1
        with:
          branch: ${{ github.ref }}
          commit_message: Fmt for PR "${{ github.event.pull_request.title }}"
